body {
  
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(52, 87, 146);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(187, 230, 236)
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  overflow: hidden;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header{
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  

  font-size: x-large;
  font-weight:900
}

.body-container{
  position: fixed;
  margin-top: 15%;
  margin-left: 40%;
  width: 350px;
  height: 100px;
  
  
}

.search-container{
  /* margin: 10%; */
  display: flex;
  justify-content: start;
  flex-direction: row;
  
}
.input{
  width: 300px;
  height: 40px;
  
  outline: none;
  
  padding-left: 5px;
  padding-bottom: 0px;
  font-size: large;
  border-radius: 4px 0 0 4px;
  border: 1px solid #CCCCCC;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.searchbar-icon{
  background-color: rgb(12, 186, 238);
  color: white;
  font-size: 21.5px;
  border: 1px solid rgb(12, 186, 238);
  border-radius: 0px 3px 3px 0px;
  padding: 10px 12px;
  cursor: zoom-in;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.searchbar-icon:hover {
  opacity: 0.6;
  transition: all 0.2s;
}


.percentiles-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.percentiles-row{

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#overall_percentile{
  display: none;
}
#coding_percentile{
  display: none;
}
#com_percentile{
  display: none;
}

.percentile-result {
  display: flex;
  justify-content: end;
}